<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Gear.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Gear.Properties.Settings>
            <setting name="LastPlugin" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBinary" serializeAs="String">
                <value />
            </setting>
            <setting name="UseNoTemplate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateEachSteps" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="LastTimeFrame" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="LastTickMarkGrid" serializeAs="String">
                <value>5E-05</value>
            </setting>
        </Gear.Properties.Settings>
    </userSettings>
</configuration>
